
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


* {
    background-color: rgb(6, 6, 6);
    margin: 0%;
    padding: 0%;
    color: white;
}

#part1 {
    background: none;
}

.img_movie {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
}

.backdrop {
    height: auto;
    width: 100%;
    display: block;
}

.gradient-overlay {
    position: absolute;
    z-index: 0;
    top: 11vh;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, transparent, black);
    pointer-events: none;
    
}

#info{
    
    margin-right: 5vh;
    position: relative;
    z-index: 1;
    background: none;
    width: auto;
    display: flex;
    justify-content: space-between;    
}

.info_film {
    margin-left: 10vh;
    display: flex;
    align-items: baseline;
}

#lecture{ 
    display: flex;
    align-items: center;
    margin-right: 15vh;
    background: none;
}

.butviolet {
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 500 !important;
    color: aliceblue;
    background-color: blueviolet;
    margin-right: 1vh;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
    box-shadow: none; 
    
}
.butblanc {
    color: blueviolet;
    margin-right: 3vh;
    font-family: "Inter";
    color: black;
    font-size: 1rem;
    font-weight: 700 !important;
    background-color: rgb(255, 255, 255);
    margin-right: 3vh;
    padding: 6px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
    box-shadow: none; 
}

.titres {
   
    background: none;
    font-family: "Newsreader", light;
    font-style: light;
    font-weight: 300;
    font-size: 4rem;
    color: white; 
    margin: 0%;
}

.genres {
    font-family: "Newsreader";
    font-weight: 300;
    font-size: 1.8rem;
    color: white;
    margin-bottom: 2vh; 
}

.titres2 {
    font-family: "Newsreader";
    font-weight: 300;
    font-size: 2.4rem;
    color: white; 
    margin-top: 4vh;
    background: none;

}


.signin {
    font-family: "Newsreader";
    font-weight: 200;
    font-size: 2rem;
    color: white; 
}

.texte {
    font-family: "Newsreader";
    font-weight: 200;
    font-size: 1.3rem;
    color: white; 
}

.titreside {
    background: none;
    font-family: "Inter";
    font-weight: 300;
    font-size: 1.1rem;
    color: white; 
    margin: 0%;
    padding-left: 3vh;
}

.overview {
    font-family: "Inter";
    font-weight: 300;
    font-size: 0.9rem;
    color: white; 
    text-align: left;

}

.purple-divider {
    position: relative;
    border: 0;
    height: 2px; 
    background-color: blueviolet; 
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 2vh;
    border-radius: 5px;
}

#part2 {
    margin-top: 4vh;
}

#resume{
    margin-left: 10vh;
    margin-right: 15vh;
}


#suggestion {
    margin-left: 10vh;
    margin-right: 10vh;
}


#propal {
    margin-bottom: 10vh;
    margin-top: 3vh;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
}

#propal li {
    position: relative;
}

#propal a {
    display: block;
    text-decoration: none;
    color: inherit;
    position: relative;
    /* Taille de la vignette */
    width: 27vh; 
    height: 25vh; 
    overflow: hidden;
    padding-right: 2vh;
}

.poster {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease-in-out;
}

.overlay-title {
    font-size: 2.7vh !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

#propal a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1; 
}

#propal a:hover .poster {
    transform: scale(1.05);
}

#propal a:hover .overlay-title {
    opacity: 1;
}

#propal a:hover::before {
    opacity: 1;
}


@media (max-width: 1200px) {
    #propal a {
        width: 20vh; 
        height: 20vh;
    }

    .overlay-title {
        font-size: 3vh; 
    }
}

@media (max-width: 768px) {
    #propal a {
        width: 30vh;
        height: 20vh;
    }

    .overlay-title {
        font-size: 4vh; 
    }
}

@media (max-width: 480px) {
    #propal a {
        width: 40vh; 
        height: 40vh;
    }

    .overlay-title {
        font-size: 5vh;
    }
}

#part3, #part4 {
    margin: 6vh 10vh 6vh 10vh ;
}

.otherCom {
    width: 100%;
    margin-bottom: 4vh;
}

.listCom {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.com {
    font-size: large;
    color: white !important;
}

.userCom div {
    display: flex;
    flex-direction: column;
}

ul li {
    border: 2.5px solid blueviolet;
    padding: 4vh;
    border-radius: 30px;
    
}

.comment {
    margin-top: 3vh;
    margin-left: 1vh;
    margin-right: 1vh;
    font-size: 1.5rem;
    font-weight: 300 !important;
    font-family:'Newsreader';
    color: white;
    display: flex;
    justify-content: space-between;
}

.textarea {
    border: 1.8px solid rgb(101, 98, 98);
    background-color: blueviolet;
    border-radius: 30px;
    height: 20vh;
}

.hidden {
    display: none; /* Pour masquer l'élément */
}

.visible {
    display: block; /* Pour afficher l'élément */
}
