@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* font-family: "Inter"; */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* font-family: "Newsreader"
font-weight: 500; */

/* violet
color: 9003FF */

* {
    background-color: rgb(6, 6, 6);
}

#lecture{ 
    display: flex;
    align-items: center;
    margin-right: 10vh;
    background: none;
}

#movie1{
    
    margin-right: 5vh;
    position: relative;
    z-index: 1;
    background: none;
    width: auto;
    display: flex;
    justify-content: space-between;    
}

.butviolet {
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 500 !important;
    color: aliceblue;
    background-color: blueviolet;
    margin-right: 1vh;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Coins arrondis */
    box-shadow: none; 
    
}
.butblanc {
    color: blueviolet;
    margin-right: 3vh;
    font-family: "Inter";
    color: white;
    font-size: 1.2rem;
    font-weight: 800 !important;
    background-color: rgb(255, 107, 0);
    margin-right: 3vh;
    padding: 6px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Coins arrondis */
    box-shadow: none; 
}

.titres {
   
    background: none;
    font-family: "Newsreader", light;
    font-style: light;
    font-weight: 300;
    font-size: 4rem;
    color: white; 
    margin: 0%;
}

.texte {
    font-family: "Newsreader";
    font-weight: 200;
    font-size: 1.3rem;
    color: white; 
    margin: 1vh 0 0;
}

.titreside {
    background: none;
    font-family: "Inter";
    font-weight: 300;
    font-size: 1.1rem;
    color: white; 
    margin: 0%;
    padding-left: 3vh;
}

.purple-divider {
    position: relative;
    border: 0;
    height: 2px; 
    background-color: blueviolet; 
    margin-left: 3vh;
    margin-right: 3vh;
    border-radius: 5px;
}




#propal {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.movie-item {
    flex: 0 0 calc(20% - 10px); /* Adjust this value to ensure 5 items per row, including margins */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.poster {
    border: solid red;
    width: 242px;
    height: 161px;
}

.text-container {
    width: 242px; /* Match the width of the .poster */
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin: 0%;
}
.ais-InstantSearch {
    display: flex;
    align-self: center;
}

.ais-SearchBox-input {
    background-color: white;
    color: #222;
}

.hit {
    display: flex;
    align-items: center;
    margin: 10px 0;
    background-color: aliceblue;
}
.hit img {
    max-width: 50px;
    margin-right: 10px;
}
.hit .hit-name {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.no-results {
    font-size: 1.2em;
    color: #888;
    text-align: center;
    margin-top: 20px;
}

#hits {
    position: absolute; /* Positionnement absolu */
    top: 90px; /* À ajuster selon la hauteur de la barre de recherche */
    left: 12.5%;
    width: 75%; /* Prendre toute la largeur */
    height: 50vh; /* Prendre 50% de la hauteur de la page */
    background-color: gainsboro; /* Fond noir pour le conteneur des résultats */
    padding: 10px; /* Espacement interne */
    overflow-y: auto; /* Défilement vertical */
    display: none; /* Masquer le conteneur par défaut */
}
#hits > *, .ais-InfiniteHits-list {
    background-color: purple;
}
.hit:hover, .hit:hover > *, .hit > a:hover  {
    background-color:#888;
}

.ais-InfiniteHits-loadMore {
    display: flex; /* Affiche le bouton comme un bloc en ligne */
    padding: 10px 20px; /* Espacement interne */
    align-self: center;
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur en forme de main */
    font-size: 1em; /* Taille de la police */
    text-align: center; /* Centrer le texte */
}

.hit > a {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.hit > img {
    width: 25%;
}
.hit-name {
    width: 75%;
}