

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* font-family: "Inter"; */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* font-family: "Newsreader"
font-weight: 500; */

/* violet
color: 9003FF */

* {
    background-color: rgb(6, 6, 6);
}
html {
    height: auto;
}
body {
    margin: 0;
    top: auto;
}
main {
    margin-left: 4vh;
    margin-right: 4vh;
   
}
.movie1 {
    margin-top: 4vh;
    margin-bottom: 3vh;
}
.titres {
    background: none;
    font-family: "Newsreader", light;
    font-weight: 300;
    font-size: 4rem;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}
.purple-divider {
    position: relative;
    border: 0;
    height: 2px;
    background-color: blueviolet;
    border-radius: 5px;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

#blocalaune {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, 
                rgba(255, 69, 0, 1) 0%, 
                rgba(255, 69, 0, 1) 5.67%, /* 50% of the first third (50% of 33.33%) */
                rgba(138, 43, 226, 1) 27.33%, /* End of the first third */
                rgba(138, 43, 226, 0.5) 100%);
}

#infotendance {
    width: 30vh;
    height: auto;
    flex: 1 1 300px; 
    padding-right: 5vh;
    margin: 0; 
    background: none;   
}

.backdrop {
    flex: 2 1 600px; 
    margin: 0; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}

img.bdp {
    width: 100%;
    height: auto; 
    object-fit: cover;
    display: block;
}
.texte {
    background: none;
    padding-left: 4vh;
    text-shadow: 1px 1px 1.3px rgba(0, 0, 0, 0.7);


}
.title {
    font-family: "Newsreader";
    font-weight: 700;
    font-size: 2rem;
    color: white; 
    margin-bottom: 4vh;
}

.genreid {
    font-family: "Newsreader";
    font-weight: 200;
    font-size: 1.3rem;
    color: white; 
}

.overview {
    font-family: "Inter";
    font-weight: 300;
    font-size: 1rem;
    color: white; 
}


.blocresume .main-list {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de se répartir sur plusieurs lignes */
    list-style-type: none; /* Supprime les puces de liste */
    padding: 0; /* Enlève le padding par défaut */
    margin: 0; /* Enlève le margin par défaut */
}

.blocresume .main-list > li {
    flex: 0 0 33.33%; /* Chaque <li> occupe un tiers de la ligne */
    box-sizing: border-box; /* Assure que padding et border sont inclus dans la largeur */
    /* padding: 10px; Ajoute un espace entre les éléments */
}

.blocresume .poster {
    width: 439px; /* Assure que les images occupent toute la largeur du <li> */
    height: 308px; /* Maintient le ratio d'aspect des images */
    display: block; /* Supprime les espaces blancs en dessous des images */
}

.blocresume ul ul {
    padding: 0; /* Enlève le padding par défaut des sous-listes */
    margin: 0; /* Enlève le margin par défaut des sous-listes */
    list-style-type: none; /* Supprime les puces des sous-listes */
    justify-content: space-between;
    display: flex;
}

.blocresume .texte {
    text-align: center; /* Centre le texte */
    margin: 5px 0; /* Ajoute un peu d'espace vertical autour du texte */
}


.poster {
    border: solid red;
    width: 439px;
    height: 308px;
}



#alaune {
    background-color: aqua;
    width: auto;
    height: 50vh;
}



#info{
    position: relative;
    z-index: 1;
    background-color: blue;
    width: auto;
    display: flex;
    justify-content: space-between;    
}

.info_film {
    margin-left: 10vh;
    display: flex;
    align-items: baseline;
    /* background-color: aquamarine; */
   
}


.titres2 {
    font-family: "Newsreader";
    font-weight: 300;
    font-size: 2.4rem;
    color: white; 
    margin-left: 3vh;
}



.titreside {
    background: none;
    font-family: "Inter";
    font-weight: 300;
    font-size: 1.1rem;
    color: white; 
    margin: 0%;
    padding-left: 3vh;
}

.navbar  {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar a {
    background: none;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar li:first-child {
    margin-right: auto; /* Pousse les autres éléments vers la droite */
}