

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

.navbar  {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar a {
    background: none;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar li:first-child {
    margin-right: auto; 
}

.navbar  {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar a {
    background: none;
    color: white;
    text-decoration: none;
}

* {
    background-color: rgb(6, 6, 6);
}
  
html {
    height: auto;
    margin: 0%;
    padding: 0%;
}
body {
    margin: 0;
    top: auto;
    padding: 0%;
}
  
main {
    padding: 4vh 4vw;
}

/* bodyyyyyy  */
#movie1{
    z-index: 1;
    background: none;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between !important;
    margin-right: 0;  
    align-items: center;
    background: none; 
    margin-top: 0 !important; 
}

.titres { 
    background: none;
    font-family: "Newsreader", light;
    font-weight: 300;
    font-size: 4rem;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

#lecture{ 
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1vw;
}

.butblanc {
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 500 !important;
    color: white;
    background: linear-gradient(to right, blueviolet, rgb(255, 107, 0));
    padding: 6px 20px;
    border: none; 
    appearance: none;
    border-radius: 20px; 
    text-align: center;
    margin: 0%;
}

.butviolet {
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 500 !important;
    color: white;
    background-color: blueviolet;
    padding: 6px 0px;
    border: none; 
    appearance: none;
    border-radius: 20px; 
    text-align: center;
    margin: 0%;
}

.purple-divider {
    width: 100%;
    position: relative;
    border: 0;
    height: 2px;
    background: linear-gradient(to right, blueviolet, rgb(255, 107, 0));
    background-color: blueviolet;
    border-radius: 5px;
    margin-top: 1vh !important;
    margin-bottom: 3vh;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

 /* √√√ search button  */
.ais-InstantSearch {
    display: flex;
    align-self: center;
}

.ais-SearchBox-input {
    background-color: blueviolet;
    color: white;
    border-style: none;
    border-radius: 20px;
    padding: 8px 12px;
}
.ais-SearchBox-input::placeholder {
    color: white; 
    opacity: 80%; 
    text-align: center;
}

.hit img {
    max-width: 20%;
    margin: 1vw 2vh;
}
.hit .hit-name {
    font-size: 1.2em;
    color: white;
    align-self: center;
    width: 75%;
    background-color: transparent;
    font-weight: 300;
}

a {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.no-results {
    font-size: 1.2em;
    color: white;
    text-align: center;
    margin-top: 10vh;
    align-self: center;
    background-color: transparent !important;
}

/* la fenetre */
#hits {
    z-index: 1;
    position: absolute; 
    top: 30%;
    height: 50%;
    width: 25%; 
    background-color: rgb(6, 6, 6);
    overflow-y: auto; 
    display: none; 
}

.hit:hover, .hit:hover > *, .hit > a:hover  {
    background: linear-gradient(to right, blueviolet, rgb(255, 107, 0));
}

.ais-InfiniteHits-loadMore {
    display: flex; 
    padding: 10px 20px; 
    align-self: center;
    border: none; 
    border-radius: 5px;
    cursor: none; 
    font-size: 1em; 
    text-align: center; 
}

 /* bloc movies responsive  */
#propal {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#propal li {
    flex: 0 0 calc(20% - 20px); 
    margin: 10px;
    box-sizing: border-box;
}

#propal li a {
    display: block;
    text-decoration: none;
}

.poster {
    width: 100%;
    height: auto;
    aspect-ratio: 2/2; 
    object-fit: cover;
    flex-shrink: 0;
}

.text-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.texte {
    font-family: "Newsreader";
    font-weight: 150;
    font-size: 1.2rem;
    color: white; 
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.left-align {
    font-weight: 350;
    text-align: left;
}

.right-align {
    text-align: right;
    font-style: italic; 
}

@media (max-width: 768px) {
    .titres{
        font-size: 3rem;
        text-align: center;
    }
    .ais-InstantSearch {
        display: none;   
    }
    #movie1 {
        margin-top: 4vh;
        z-index: 1;
        background: none;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
        margin-right: 0;  
        background: none;  
    }
    .titres{
        margin-bottom: 1vh;
        font-size: 3rem;
    }
    .butblanc, .butviolet {
        width: 9rem;
        margin-bottom: 1vh;
    }
    #propal li {
        flex: 0 0 calc(50% - 20px); 
    }
    .texte {
        font-size: smaller;
    }
}

@media (max-width: 250px) {
    #propal li {
        flex: 0 0 calc(100% - 20px); 
    }
}